p
  strong Hi #{user.name},
  br

p Your item (#{item.itemName}) has been approved on Re-Product.
p Use the following link to share it with the world: 
a(href=`${itemURL}`)= itemURL

p
  br
  | You'll receive email notifications when someone wants to "buy" your product and you'll also see these request on the following URL: 
  br
  a(href=`${itemURL}/requests`) #{itemURL}/requests
  br
  | You can select anyone from the request list as the lucky one who will get your item. It's up to you.
  br
  | If you want to get in touch with one of the requesters, check their profile for contact information.

p
  br
  | If you have any questions or you've found a bug, don't hesitate to get in touch via email at TODO or via Twitter
  a(href='https://twitter.com/feriforgacs') @feriforgacs.
  br

p 
  | Thank you for decreasing the amount of trash by using Re-Product.
  br

p Regards
  br
  | Ferenc