extends layout

include mixins/_itemRequestForm

block content
  .container--wide
    .item-details
      .item-details__header
        if item.itemStatus === 'approved' || user && ( user.level < 30 || user._id.toString() === item.author._id.toString() )
          if preview
            p.item__preview.message.message--info
              span(aria-label='Warning') âš ï¸ 
              | This is just a preview URL

        if item.itemStatus === "sold"
          p.message.message--warning
            span(aria-label='Warning') âš ï¸ 
              | This is has been sold. Please, find another item.

        if item.itemStatus === "new"
          p.message.message--info
            span(aria-label='Warning') âš ï¸ 
              | This item is under review. You'll receive and email notification when the review process was completed (24-48 hours).
              br
              | Thank you for your patience 
              span(aria-label='Smiling Face') ðŸ˜Š 
        
        if alreadyRequested
          p.message.message--info
            span(aria-label='Smiling Face') ðŸ˜Š 
            | You've sent a request for this item. Now wait for a response from the seller.

      .item-details__content
        .item-details__image  
          img.item-image(src=`/uploads/${item.itemPhoto}` alt=`${item.itemName}` title=`${item.itemName}`)

        .item-details__info
          h1.item__name= item.itemName
          h3.item__price 
            span(aria-label='Money bag') ðŸ’° 
            | Price: 
            if item.itemPrice == 0
              span.free Free
            else if item.itemPrice == 1
              | #{item.itemPrice} coin
            else
              | #{item.itemPrice} coins
          
          .item__meta
            .location Location: 
              a(href=`https://www.google.com/maps/search/${item.itemLocation}/` target='_blank')  #{item.itemLocation}

            .created Published #{h.moment(item.itemPublished).fromNow()}

            .category
              each category in h.itemCategories
                if item.itemCategory === category.slug
                  a.item__category(href=`/category/${category.slug}` title=`View more items in ${category.name} category`)
                    span #{category.icon} #{category.name}

            if user && user.wallet
              .seller
                a.seller__profile(href=`/profile/${item.author._id}` title=`View the profile of ${item.author.name}` target='_blank')
                  | by  
                  img(src=item.author.gravatar).seller__avatar
                  span.seller__name= item.author.name          
          
          .item__description
            div= item.itemDescription

          if itemCreatedByUser
            
            a.button.button--primary.button--small(href=`/item/${item._id}/requests`)
              span(aria-label='Pointing hand') ðŸ‘‰  
              | View item requests

          else
            if notEnoughCoins
              p.message.message--info
                span(aria-label='Pensive Face') ðŸ˜” 
                | You don't have enough coins to buy this item.
                br
                | Earn more coins by selling your unused items. 

            else if enoughCoins && !alreadyRequested && item.itemStatus != "sold" && item.itemStatus != "new"
              .item__actions
                a(href=`/profile/${item.author._id}` target='_blank').button.button--secondary.button--small.seller-profile-button View seller's profile
                button.button.button--primary.button--small#item-request-button Request this item

              .item-details__request-form
                +itemRequestForm(item)
            
            if userNotConfirmed
              p.message.message--info You need to verify your account before you can create or request an item. Please, check your inbox for the verification mail you received after your registration, and follow the instructions.
                br
                | If you've registered more than an hour ago and haven't received your email yet, please 
                a(href="/contact") get in touch
                | .
            
            else if !user
              p.message.message--info
                span(aria-label='Backhand Index Pointing Right') ðŸ‘‰ 
                | Please, 
                a(href='/login' target='_blank') log in
                |  to request this item.