extends layout

block content
  .container--mid
    #request
      #request__header
        h1= title
        #request__meta
          p.date Request sent #{h.moment(request.created).fromNow()}
          a.author(href=`/profile/${request.author._id}` target='_blank' title=`View the profile of ${request.author.name}`)
            | by  
            img(src=request.author.gravatar).author__avatar
            span.author__name= request.author.name

      #request__body
        h3 Request message
        .request__message= request.message

      #request__actions
        a.button.button--secondary.button--small(href=`/profile/${request.author._id}` target='_blank') View requester's profile
        a.button.button--secondary.button--small(href=`/item/${item._id}/requests`) View all requests for this item
        a.button.button--secondary.button--small(href=`/item/${item.itemSlug}`) View item details
        button.button.button--primary.button--small#request-accept-button Accept request

      #request-accept
        form(method='POST')#request-accept__form.hidden
          p.message.message--info
            span(aria-label='Warning') ⚠️ 
            | Make sure, that this is the request you would like to accept. As soon as you click the button below, the requesters wallet will be charged.

          .form-group
            label(for='requestAcceptMessage') Acceptance message
              br
              small The requester will receive this message, so you can add additional information here to make the delivery as easy as possible
              br
              strong Max length 500 chars
            textarea#requestAcceptMessage(name='requestAcceptMessage' cols='30' rows='10' required='required').textarea--small
            p.char-counter#requestAcceptMessageCounter 500 chars remaining

          .form-group
            button(type='submit').button.button--primary#request-accept-submit-button Accept request and send message
              i.hidden
                != h.icon('spin')