mixin header(search = '')
  header#header
    nav#header__navigation
      ul.navigation__list
        li.navigation__item#logo
          a(href='/').navigation__link.navigation__link--activ RE-PRODUCT

        if user
          li.navigation__item.logged-in#category-item
            a(href='').navigation__link#category Categories
              span.default
                != h.icon('categories_button')
              span.opened
                != h.icon('categories_close_button')
          
          li.navigation__item.logged-in#search-item
            form(method='GET' action='search')#search-form
              input(type='text' name='search' value=`${search || ''}` placeholder='Search items...')
              button(type='submit')#search-item__submit
                != h.icon('search_button')
        else
          li.navigation__item#category-item
            a(href='').navigation__link#category Categories
              span.default
                != h.icon('categories_button')
              span.opened
                != h.icon('categories_close_button')
        
          li.navigation__item#search-item
            form(method='GET' action='search')#search-form
              input(type='text' name='search' value=`${search || ''}` placeholder='Search items...')
              button(type='submit')#search-item__submit
                != h.icon('search_button')

        if user 
          li.navigation__item#add-item
            a(href='/item/add').navigation__link.button.button--primary.button--small Add item

          li.navigation__item#profile
            #profile__link
              img(src=`${user.gravatar}`).profile__image
              span.profile__name #{user.name}
            
        else
          li.navigation__item#login-item
            a(href='/login').navigation__link.button.button--secondary.button--small Log In

          li.navigation__item#signup-item
            a(href='/register').navigation__link.button.button--primary.button--small Sign Up

  if user
    #profile__dropdown
      a(href='/account') Update account
      a(href='/my-items') Your uploaded items
      a(href='/logout') Logout

  #categories-dropdown
    ul#categories-dropdown__list
      each category in h.itemCategories
        li.categories-dropdown__item
          a.categories-dropdown__link(href=`/category/${category.slug}` title=`View items in the ${category.name} category`)
            span(aria-label=`${category.name}`).icon #{category.icon} 
            span.label= category.name