mixin itemCard(item = {}, requestDate = '')
  .item-card
    h3.item-card__name
      a(href=`/item/${item.itemSlug}` title=`View ${item.itemName}`)= item.itemName

    if displayStatus
      .item-card__status Status: 
        strong= item.itemStatus

    if displayRequestDate && requestDate
      .item-card__request-date 
        span(aria-label='Hourglass') ⏳ 
        | Request sent: 
        strong #{h.moment(requestDate).fromNow()}

    .item-card__image
      a(href=`/item/${item.itemSlug}`)
        img(src=`/uploads/${item.itemPhoto || ''}` alt=`${item.itemName}`)
    
    p.item-card__description= item.itemDescription.substring(0, 40)
      | ...

    .item-card__actions
      p.item-card__price 
        span(aria-label='Money Bag') 💰 
        if item.itemPrice == 0
          strong
            span.free Free
        else 
          strong #{item.itemPrice}
          if item.itemPrice == 1
            |  coin
          else
            |  coins
      a.view-item.button.button--small(target='_blank' href=`/item/${item.itemSlug}`) View details